@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to NotBlocket</h2>
</div>

<form action="SearchResults" method="get">
    <div class="form-group">
        <input type="text" class="form-control" name="searchTerm" placeholder="Search">
    </div>
    <input type="submit" value="Get recept" class="btn btn-primary" />
</form>
